{  
    admin off 
    persist_config off  
    auto_https off  
    log {  
        format console  
    }
    servers {  
        trusted_proxies static private_ranges 
    }
}

:{$PORT} { 
    log {  
        format console   
    }
 
    respond /health 200 
    root * dist 
    encode gzip 
    file_server 
    try_files {path} /index.html
}

api.slashdesign.nl {
    reverse_proxy slash-design-production.up.railway.app:8080
} 

web.slashdesign.nl {
    reverse_proxy slash-design-production.up.railway.app:8082
}